/* Universal Styles */

* {
  margin: 0;
  padding: 0;
}

/* Header */

/* Banner */

#banner {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(109, 109, 109);
  background-color: rgb(252, 247, 247);
  opacity: .8;
}

#banner .img-line-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 40%;
}

#banner .img-line-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 44%;
  height: 40%;
}

#banner .img-line-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
  height: 40%;
}

#banner .img-container {
  width: auto;
  height: 100%;
  margin: 0 1rem;
  border: 1px solid rgb(109, 109, 109);
}

#banner .logo {
  width: auto;
  height: 80%;
  opacity: .8;
}

#banner .logo img:hover {
  box-shadow: none;
  cursor: default;
}

#banner img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

#banner .title {
  height: min-content;
  width: 40%;
  margin: 4rem 0 0 2rem;
  line-height: 2;
  text-align: center;
  color: rgb(109, 109, 109);
}

#banner h1 {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.4rem;
}

#banner .spectral {
  font-family: 'Spectral', serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

#banner .lato {
  font-family: 'Lato', sans-serif;
}

#banner .img-container:hover {
  cursor: pointer;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px;
  border: none;
}

#banner .img-container:active {
  margin-bottom: .75rem;
  box-shadow: none;
  border: 1px solid rgb(109, 109, 109);
}

/* Separator */

.separator {
  height: 3rem;
  display: flex;
  align-items: flex-end;
  background-color: rgb(252, 247, 247);
}

.separator hr {
  width: 100%;
  color: rgb(109, 109, 109);
}

/* Description */

#description {
  height: 150vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 247, 247);
  opacity: .8;
}

#description article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(109, 109, 109);
  height: 85%;
  width: 40%;
  margin-right: 0.5rem;
}

#description article h6 {
  font-family: 'Spectral', serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-bottom: 1.5rem;
}

#description article h1 {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.4rem;
}

#description article p {
  font-family: 'Lato', sans-serif;
  margin-top: 1.5rem;
  width: 80%;
}

#description .description-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 40%;
  margin-left: 0.5rem;
}

#description img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Packages */

/* About Me */

/* Footer */