/* Universal Styles */

* {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #f76c6c;
  background-color: #a8d0e6;
  
  opacity: .8;
}

header .img-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40%;
}

header .img-container {
  width: auto;
  height: 100%;
  margin: 0 1rem;
}

header .logo {
  width: auto;
  height: 100%;
  height: 80%;
  padding: 1rem;
  margin-right: 12rem;
  background-color: #f76c6c;
  border-radius: 100%;
  opacity: .8;
}

header .logo img:hover {
  box-shadow: none;
  cursor: default;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .title {
  height: min-content;
  margin: 4rem 0 0 2rem;
  padding: 1rem;
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.4rem;
  color: aliceblue;
  background-color: #f76c6c;
  border-radius: 100%;
  opacity: .8;
}

header img:hover {
  cursor: pointer;
  box-shadow: 3px 3px;
}

header .img-container:hover {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

header img:active {
  box-shadow: none;
}

header .img-container:active {
  margin-bottom: .75rem;
}

/* Description */

/* Packages */

/* About Me */

/* Footer */